body {
    font-size: 30px;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}

.hidden {
    display: none;
}

/* pre-game phase */
#button_playgame, #levelSelection{
    margin: 20px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 15px;
    border-radius: 15px;
}

#button_playgame:hover{
    background-color: lightcoral;
}


/* game place phase */
#panel_gameplaying {
    position: relative;
}
  
#token_container {
    margin-top: 30px;
    position: absolute;
    width: 400px;
    top: 100%;
    left: 520px;
}


#token_container img {
    width: 100px;
}


/* game over phase */
#panel_gameover{
    text-align: center;
}

#playAgainBtn{
    background-color: #fff;
    color:#000;
}

#leaderboard {
    font-size: 20px;
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
  
.leaderboard-header, .leaderboard-row {
    padding: 5px 10px;
}
  
.leaderboard-header {
    font-weight: bold;
    /* background-color: #f0f0f0; */
    border-bottom: 1px solid #ccc;
}
  