body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}
.hidden {
    display: none;
}

/* pre-game phase */
#levelSelection{
    
}


/* game place phase */
#token_container {
    width: 400px;
}
#token_container img {
    width: 100px;
}


/* game over phase */
#gameoverTitle{

}

#playAgainBtn{

}