<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To Do List with Vue</title>

    <!-- Provided stylesheet -->
    <link rel="stylesheet" href="styles.css">

    <!-- Load in the Vue library -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <!-- Load in our helpers library, which lets us make fetch requests -->
    <script src="helpers.js"></script>
</head>

<body>

    <h1>To Do List with Vue</h1>

    <!-- The root element for our Vue app-->
    <div id="app">

        <!-- Toolbar -->
        <div class="toolbar">
            <button class="primary" @click="showAddNewItemPanel">Add Item</button>
            <button class="primary" @click="saveToDoList">Save To-Do List</button>
            <select id="filterCategory" v-model="filterCategory">
                <option v-for="(item, index) in filteredCategories" :key="item" :value="item" >{{item}}</option>
            </select>
        </div>


        <!-- Panel: Add New Item -->
        <div class="panel" id="panelAddItem" v-if="isAddPanelVisible">
            <button class="close-button light" @click="hideAddNewItemPanel">✕</button>
            <h2>Add New Item</h2>

            <div class="error-message" v-if="isAddPanelErrorMessageVisible">
                Please fill out the form fully.
            </div>

            <div class="form-row">
                <label for="itemTitle">Title</label>
                <input type="text" id="itemTitle" v-model="addNewItemTitle">
            </div>
            <div class="form-row">
                <label for="itemDescription">Description</label>
                <textarea id="itemDescription" rows="3" v-model="addNewItemDescription"></textarea>
            </div>
            <div class="form-row">
                <label for="itemCategory">Category</label>
                <select id="itemCategory" v-model="addNewItemCategory">

                    <!-- Sample category, replace with your own dynamically -->
                    <option v-for="(item, index) in allCategories" :key="item" :value="item" >{{item}}</option>
                </select>
            </div>
            <button class="secondary" @click="saveNewItem">Save Item</button>
        </div>



        <!-- Panel: Edit Existing Item -->
        <div class="panel" id="panelEditItem" v-if="isEditPanelVisible">
            <button class="close-button light">✕</button>
            <h2>Edit Item</h2>

            <div class="error-message" v-if="isEditPanelErrorMessageVisible">
                Please fill out the form fully.
            </div>

            <div class="form-row">
                <label for="editTitle">Title</label>
                <input type="text" id="editTitle" v-model="editItemTitle">
            </div>
            <div class="form-row">
                <label for="editDescription">Description</label>
                <textarea id="editDescription" rows="3" v-model="editItemDescription"></textarea>
            </div>
            <div class="form-row">
                <label for="editCategory">Category</label>
                <select id="editCategory" v-model="editItemCategory">

                    <!-- Sample category, replace with your own dynamically -->
                    <<option v-for="(item, index) in allCategories" :key="item" :value="item" >{{item}}</option>

                </select>
            </div>
            <button class="secondary" @click="updateItem(item)">Update Item</button>
        </div>


        <!-- Panel for Existing To-Do Items -->
        <div class="todo-grid" id="panelExistingToDoItems" v-if="isExistingToDoListPanelVisible">

            <!-- Sample to-do list item, replace with your own dynamically -->
	
            <div :class="{'todo-card': true, 'complete': item.completed}" v-for="(item, index) in filteredItems" :key="index">
                <span class="category-tag">{{item.category}}</span>
                <h3>{{item.title}}</h3>
                <p>{{item.description}}</p>


                <div class="card-actions">
                    <button class="light" @click="showEditPanel(item)">Edit</button>
                    <button class="light">
                        <span v-if="item.completed" @click="markAsActive(item)">Mark as Active</span>
                        <span v-else @click="markAsComplete(item)">Mark as Complete</span>
                    </button>
                    <button class="light" @click="deleteItem(item)">Delete</button>
                </div>
            </div>
        </div>

    </div>


    <!-- Your application code -->
    <script>
        Vue.createApp({
        
            data: function() {
            
                // our reactive data will go in here
                return {

                    isAddPanelVisible: false,
                    isEditPanelVisible: false,
                    isExistingToDoListPanelVisible: true,
                    isAddPanelErrorMessageVisible: false,
                    isEditPanelErrorMessageVisible: false,
                    addNewItemTitle: '',
                    addNewItemDescription: '',
                    addNewItemCategory: '',

                    editItemTitle: '',
                    editItemDescription: '',
                    editItemCategory: '',
                    
                    allCategories: ['Personal', 'School', 'Home', 'Work', 'Play'],

                    existingItems: [],
                    
                    currentItem: null,

                    filterCategory: 'All',
                    filteredItems: [],
                    filteredCategories: ['All', 'Personal', 'School', 'Home', 'Work', 'Play']
                }
            
            },

            watch: {
                filterCategory() {
                    console.log("filterCategory changed to: ", this.filterCategory);
                    this.updateFilteredItems();
                }
            },

            methods: {
            
                showAddNewItemPanel: function() {
                    this.isAddPanelVisible = true;
                    this.isExistingToDoListPanelVisible = false;
                },

                hideAddNewItemPanel: function() {
                    this.isAddPanelVisible = false;
                    this.isExistingToDoListPanelVisible = true;                
                },

                saveNewItem: function() {
                
                    // check to make sure the user filled out the form completely
                    if (this.addNewItemTitle.length == 0 || this.addNewItemDescription.length == 0 || this.addNewItemCategory.length == 0) {
                        this.isAddPanelErrorMessageVisible = true;
                        return;
                    }

                    // if there are no errors, close the error-message
                    this.isAddPanelErrorMessageVisible = false;

                    this.existingItems.push({
                        id: crypto.randomUUID(),
                        title: this.addNewItemTitle,
                        description: this.addNewItemDescription,
                        category: this.addNewItemCategory,
                        completed: false
                    });

                    // hide the panel
                    this.isAddPanelVisible = false;
                    this.isExistingToDoListPanelVisible = true;     
                    
                    this.addNewItemTitle = '';
                    this.addNewItemDescription = '';
                    this.addNewItemCategory = '';   
                },

                markAsActive: function(item) {
                    item.completed = false;

                },

                markAsComplete: function(item) {
                    item.completed = true;

                },

                deleteItem: function(item) {
                    this.existingItems.splice(this.existingItems.indexOf(item), 1);
                    this.updateFilteredItems();
                },

                showEditPanel: function(item) {
                    this.isEditPanelVisible = true;
                    this.isExistingToDoListPanelVisible = false;

                    this.editItemTitle = item.title;
                    this.editItemDescription = item.description;
                    this.editItemCategory = item.category;
                    this.currentItem = item;
                },

                updateItem: function() {
                    if (this.editItemTitle.length == 0 || this.editItemDescription.length == 0 || this.editItemCategory.length == 0) {
                        this.isEditPanelErrorMessageVisible = true;
                        return;
                    }

                    this.isEditPanelErrorMessageVisible = false;

                    this.currentItem.title = this.editItemTitle;
                    this.currentItem.description = this.editItemDescription;
                    this.currentItem.category = this.editItemCategory;
                    
                    this.isEditPanelVisible = false;
                    this.isExistingToDoListPanelVisible = true;

                    this.editItemTitle = '';
                    this.editItemDescription = '';
                    this.editItemCategory = '';
                },

                saveToDoList: function() {
                    let stringifiedItems = JSON.stringify(this.existingItems);
                    console.log(stringifiedItems);
                    performFetch({
                        url: 'api.php?command=save',
                        method: 'POST',
                        data: {
                            items: stringifiedItems
                        },
                        success: function(data) {
                            console.log("succussfully saved list: ", data);
                        },
                        error: function(error) {
                            console.log("error saving list: " + error);
                        }
                    })
                },

                updateFilteredItems: function() {
                    if (this.filterCategory === 'All') {
                        this.filteredItems = this.existingItems;
                    } else {
                        let filteredArray = [];
                        for (let i = 0; i < this.existingItems.length; i++) {
                            let item = this.existingItems[i];
                            
                            if (item.category === this.filterCategory) {
                                filteredArray.push(item);
                            }
                        }
                        this.filteredItems = filteredArray;
                    }
                },
            },
            mounted: function() {
                performFetch({
                    url: 'api.php',
                    method: 'GET',
                    data:{
                        command: 'load'
                    },
                    success: (data) => {
                        this.existingItems = JSON.parse(data);
                        this.updateFilteredItems();
                        console.log(this.existingItems);
                    },
                    error: (error) => {
                        console.log("error loading list: " + error);
                    }
                });
            }

        
        }).mount("#app");

    </script>

</body>

</html>